@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Reset */

.commentcarp__main *,
.commentcarp__main::before,
.commentcarp__main::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

.commentcarp__main {
  font-family: system-ui, -apple-system,
    /* Firefox supports this but not yet `system-ui` */ 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

.commentcarp__main hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

.commentcarp__main abbr[title] {
  text-decoration: underline dotted;
}

.commentcarp__main b,
.commentcarp__main strong {
  font-weight: bolder;
}

.commentcarp__main code,
.commentcarp__main kbd,
.commentcarp__main samp,
.commentcarp__main pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
    monospace; /* 1 */
  font-size: 1em; /* 2 */
}

.commentcarp__main small {
  font-size: 80%;
}

.commentcarp__main sub,
.commentcarp__main sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.commentcarp__main sub {
  bottom: -0.25em;
}

.commentcarp__main sup {
  top: -0.5em;
}

.commentcarp__main table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

.commentcarp__main button,
.commentcarp__main input,
.commentcarp__main optgroup,
.commentcarp__main select,
.commentcarp__main textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

.commentcarp__main button,
.commentcarp__main select {
  /* 1 */
  text-transform: none;
}

.commentcarp__main button,
.commentcarp__main [type='button'],
.commentcarp__main [type='reset'],
.commentcarp__main [type='submit'] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
}

.commentcarp__main ::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

.commentcarp__main :-moz-focusring {
  outline: 1px dotted ButtonText;
}

.commentcarp__main :-moz-ui-invalid {
  box-shadow: none;
}

.commentcarp__main legend {
  padding: 0;
}

.commentcarp__main progress {
  vertical-align: baseline;
}

.commentcarp__main ::-webkit-inner-spin-button,
.commentcarp__main ::-webkit-outer-spin-button {
  height: auto;
}

.commentcarp__main [type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

.commentcarp__main ::-webkit-search-decoration {
  -webkit-appearance: none;
}

.commentcarp__main ::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

.commentcarp__main summary {
  display: list-item;
}

#commentcarp__editor .ProseMirror {
  @apply cc-px-2 cc-py-4;
}

#commentcarp__editor .ProseMirror:focus {
  @apply cc-outline-none;
}

#commentcarp__editor .ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #ced4da;
  pointer-events: none;
  height: 0;
  @apply cc-text-gray-200 dark:cc-text-white dark:cc-text-opacity-20;
}

.commentcarp__usercontainer {
  @apply cc-flex cc-items-center cc-justify-end cc-px-2 cc-pt-2;
}

.commentcarp__useravatar {
  @apply cc-w-6 cc-h-6 cc-mr-2 cc-bg-cover cc-rounded-full;
}

.commentcarp__displayname {
  @apply cc-font-bold cc-text-gray-800 dark:cc-text-white dark:cc-text-opacity-80;
}

.commentcarp__username {
  @apply cc-flex cc-ml-1 dark:cc-text-white cc-text-gray-600 dark:cc-text-opacity-50;
}

.commentcarp__buttoncontainer {
  @apply cc-flex cc-pr-2 cc-mr-2 cc-border-r cc-border-gray-200 dark:cc-border-white dark:cc-border-opacity-20 cc-border-solid;
}

.commentcarp__separator {
  @apply cc-flex cc-py-2 cc-border-b cc-border-gray-200 dark:cc-border-white dark:cc-border-opacity-20 cc-border-solid;
}

.commentcarp__buttoncontainer button:first-of-type {
  @apply cc-ml-0;
}

.commentcarp__buttoncontainer button {
  @apply cc-ml-2;
}

.commentcarp__button {
  @apply cc-relative cc-flex cc-items-center cc-justify-center cc-w-8 cc-h-8 cc-text-sm cc-font-medium cc-leading-5 cc-text-gray-700 dark:cc-text-white dark:cc-text-opacity-70 cc-transition cc-duration-150 cc-ease-in-out cc-rounded;
}

.commentcarp__button:hover {
  @apply cc-bg-gray-100 dark:cc-bg-white dark:cc-bg-opacity-10;
}

.commentcarp__button:focus {
  @apply cc-outline-none;
}

.commentcarp__button svg {
  height: 14px;
  width: 14px;
}

.commentcarp__editor {
  @apply cc-prose focus:cc-outline-none dark:cc-text-white cc-max-w-full;
}

.commentcarp__editor strong {
  @apply dark:cc-text-white;
}

.commentcarp__editor pre {
  @apply dark:cc-bg-white dark:cc-bg-opacity-20 cc-mr-0 cc-whitespace-pre-wrap;
}

.commentcarp__editor blockquote {
  @apply dark:cc-text-white;
}

.commentcarp__editor p,
.commentcarp__editor ul,
.commentcarp__editor blockquote,
.commentcarp__editor pre,
.commentcarp__editor > ul > li > *:last-child {
  @apply cc-my-2;
}

.commentcarp__error {
  @apply cc-text-sm cc-text-center cc-text-red-600;
}

.commentcarp__actioncontainer {
  @apply cc-flex cc-items-center cc-justify-end cc-py-2;
}

.commentcarp__datainfo {
  @apply cc-relative cc-flex cc-items-center cc-justify-center;
}

.commentcarp__infoicon {
  @apply cc-pr-2 cc-text-xs cc-text-right cc-text-gray-500 dark:cc-text-white dark:cc-text-opacity-50 cc-cursor-pointer hover:cc-underline;
}

.commentcarp__postbutton {
  @apply cc-flex cc-items-center cc-px-4 cc-py-2 cc-text-sm cc-font-medium cc-text-gray-700 dark:cc-text-white dark:cc-text-opacity-70 cc-transition-colors cc-border cc-border-gray-200 cc-rounded-md hover:cc-border-gray-700 dark:hover:cc-text-gray-700 hover:cc-bg-gray-50 disabled:cc-opacity-50 focus:cc-outline-none;
}

.commentcarp__userlink a {
  @apply cc-no-underline;
}

.commentcarp__userlink .commentcarp__username {
  @apply cc-font-normal;
}

.commentcarp__userlink a:hover #commentcarp__username {
  @apply cc-underline;
}

.commentcarp__commentavatar {
  @apply cc-w-12 cc-h-12 cc-rounded-full;
}

.commentcarp__commentbody {
  @apply cc-prose;
}

.commentcarp__commentcontainer {
  @apply cc-flex cc-mb-4 cc-space-x-2;
}

.commentcarp__commentmain {
  @apply cc-flex cc-flex-col cc-flex-1 cc-items-start;
}

#commentcarp__editor p:first-of-type,
#commentcarp__comments p:first-of-type {
  @apply cc-mt-0;
}

#commentcarp__editor p code,
#commentcarp__comments p code {
  @apply cc-px-2 cc-py-1 cc-text-sm cc-font-bold cc-text-gray-900 cc-bg-gray-200 cc-rounded;
}

#commentcarp__editor .prose ul li p {
  @apply cc-m-0;
}

/* purgecss start ignore */
.tippy-box[data-theme~='commentcarp-dark'] {
  @apply cc-bg-black cc-rounded cc-text-white cc-text-xs cc-font-medium cc-px-2 cc-py-1;
}

.tippy-box[data-theme~='commentcarp-dark'] > .tippy-backdrop {
  @apply cc-bg-black;
}

.tippy-box[data-theme~='commentcarp-mentions'] {
  @apply cc-bg-white cc-rounded cc-text-gray-700 cc-text-sm cc-font-medium cc-shadow;
}

.tippy-box[data-theme~='commentcarp-mentions'] > .tippy-backdrop {
  @apply cc-bg-white;
}

.tippy-box[data-theme~='commentcarp-mentions'] > .tippy-arrow {
  @apply !cc-text-white;
}

.tippy-box[data-theme~='commentcarp-mentions'] > .tippy-content > .items {
  @apply cc-flex cc-flex-col cc-items-start;
}

.tippy-box[data-theme~='commentcarp-mentions'] > .tippy-content > .items {
  @apply cc-flex cc-flex-col cc-items-start;
}

.tippy-box[data-theme~='commentcarp-mentions']
  > .tippy-content
  > .items
  > .item {
  @apply cc-px-2 cc-py-1 cc-transition-colors cc-flex-1;
}

.tippy-box[data-theme~='commentcarp-mentions']
  > .tippy-content
  > .items
  > .item:hover {
  @apply cc-bg-gray-50 cc-w-full cc-text-left;
}

/* purgecss end ignore */

.commentcarp__skeleton {
  @apply cc-relative cc-overflow-hidden cc-bg-gray-100 dark:cc-bg-white dark:cc-bg-opacity-30 cc-rounded-md;
}

.commentcarp__skeleton::before {
  content: '';
  @apply cc-absolute cc-block;
  left: -150px;
  top: 0;
  background: linear-gradient(
    to right,
    transparent 0%,
    #fff 50%,
    transparent 100%
  );
  animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.commentcarp__empty {
  @apply cc-text-sm cc-text-center cc-text-gray-500;
}

@keyframes load {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}

.commentcarp__mention,
.mention {
  @apply cc-text-gray-900 cc-bg-gray-100 cc-rounded cc-px-1;
}

.commentcarp__replybutton {
  @apply cc-flex cc-flex-row cc-items-center cc-space-x-1 cc-text-sm cc-flex-none cc-px-2 cc-py-1 cc-rounded cc-transition-colors cc-font-medium;
}

.commentcarp__replybutton:hover {
  @apply cc-bg-gray-100;
}
