@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#commentcarp__editor .ProseMirror {
  @apply cc-px-2 cc-py-4;
}

#commentcarp__editor .ProseMirror:focus {
  @apply cc-outline-none;
}

#commentcarp__editor .ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #ced4da;
  pointer-events: none;
  height: 0;
  @apply cc-text-gray-200 dark:cc-text-gray-700;
}

.commentcarp__usercontainer {
  @apply cc-flex cc-items-center cc-justify-end cc-px-2 cc-pt-2;
}

.commentcarp__useravatar {
  @apply cc-w-6 cc-h-6 cc-mr-2 cc-bg-cover cc-rounded-full;
}

.commentcarp__displayname {
  @apply cc-font-bold;
}

.commentcarp__username {
  @apply cc-flex cc-ml-1 cc-text-gray-500;
}

.commentcarp__buttoncontainer {
  @apply cc-flex cc-pr-2 cc-mr-2 cc-border-r cc-border-gray-200 dark:cc-border-gray-700 cc-border-solid;
}

.commentcarp__separator {
  @apply cc-flex cc-py-2 cc-border-b cc-border-gray-200 dark:cc-border-gray-700 cc-border-solid;
}

.commentcarp__buttoncontainer button:first-of-type {
  @apply cc-ml-0;
}

.commentcarp__buttoncontainer button {
  @apply cc-ml-2;
}

.commentcarp__button {
  @apply cc-relative cc-flex cc-items-center cc-justify-center cc-w-8 cc-h-8 cc-text-sm cc-font-medium cc-leading-5 cc-text-gray-700 dark:cc-text-gray-200 cc-transition cc-duration-150 cc-ease-in-out cc-bg-white dark:cc-bg-gray-800 cc-rounded;
}

.commentcarp__button svg {
  height: 14px;
  width: 14px;
}

.commentcarp__button:hover {
  @apply cc-bg-gray-100 dark:cc-bg-gray-700;
}

.commentcarp__button:focus {
  @apply cc-outline-none;
}

.commentcarp__userlink a {
  @apply cc-no-underline;
}

.commentcarp__userlink:hover #commentcarp__username {
  @apply cc-underline;
}

#commentcarp__editor p:first-of-type,
#commentcarp__comments p:first-of-type {
  @apply cc-mt-0;
}

#commentcarp__editor p code,
#commentcarp__comments p code {
  @apply cc-px-2 cc-py-1 cc-text-sm cc-font-bold cc-text-gray-900 cc-bg-gray-200 cc-rounded;
}

#commentcarp__editor .prose ul li p {
  @apply cc-m-0;
}

.cc-tooltip:before {
  @apply cc-absolute cc-w-auto cc-px-4 cc-py-1 cc-text-center cc-text-white cc-transition-opacity cc-bg-black cc-rounded cc-opacity-0 cc-whitespace-nowrap;
  content: attr(data-text);
  top: 50%;
  transform: translateY(-50%);
  margin-top: -30px;
}

.cc-tooltip:after {
  @apply cc-absolute cc-transition-opacity cc-opacity-0;
  content: "";
  margin-top: -10px;
  top: 50%;
  transform: translateY(-50%);
  border: 7px solid #000;
  border-color: black transparent transparent transparent;
}

.cc-tooltip:hover:before,
.cc-tooltip:hover:after {
  @apply cc-opacity-100;
}

.commentcarp__skeleton {
  @apply cc-relative cc-overflow-hidden cc-bg-gray-100 dark:cc-bg-gray-700 cc-rounded-md;
}

.commentcarp__skeleton::before {
  content: "";
  @apply cc-absolute cc-block;
  left: -150px;
  top: 0;
  background: linear-gradient(
    to right,
    transparent 0%,
    #fff 50%,
    transparent 100%
  );
  animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes load {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}

.mention {
  @apply cc-text-orange-900 cc-bg-orange-100 cc-rounded cc-px-1;
}

.items {
  @apply cc-relative cc-rounded cc-bg-white cc-text-gray-700 cc-overflow-hidden cc-text-sm cc-shadow cc-flex cc-flex-col;
}

.item {
  @apply cc-block cc-w-full cc-text-left cc-px-2 cc-py-1;
}

.item.is-selected,
.item:hover {
  @apply cc-text-orange-900 cc-bg-orange-100;
}
